#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background:  #000;
  
}
body {
  background:  #000;
}
.App{
  background:  #000;
  height: 100vh;
  text-align: center;
  display: grid;
  place-content: center;
}

main {
  border: 1px solid #fff;
  aspect-ratio:  9/16;
  width: 100vw;
  max-width: 375px;
  border-radius: 3px;

}